<% provide(:title, "Home") %>
<h1>Sample App</h1>
<p>
  This is the home page for Nick's Sample Application. You may view his LinkedIn profile
  <a href="https://www.linkedin.com/profile/view?id=216783420&trk=nav_responsive_tab_profile">here.</a>
</p>


