<container class ="test">
<div class = "jumbotron horizontal-center">
        <h1>Nick's Film & Life Blog</h1>

        <h2> Everything from film criticism to life criticism. Guest posts from the roommates. <br>
          Check out the archive <%= link_to "here", posts_path %>.
        </h2>
        </div>
</container>

<div class="row">
        <h3>Most Recent Posts</h3>
      </div>
    <div class="row">
      <%= render 'shared/feed' %>
    </div>
<div>
  <% if logged_in? %>
    <%= link_to 'New Post', new_post_path %>
  <% end %>
      </div>




