<div class="row">
  <aside class="col-md-4">
        <h4>Name:</h4>
    <p>
    <%= comment.commenter %>
    </p>

    <p>
        <b>Comment:</b>
        <%= comment.body %>
    </p>
  </aside>
</div>