<div class="row">
    <p>
        <b>Name:</b>
    <%= comment.commenter %>
    </p>

    <p>
        <b>Comment:</b>
        <%= comment.body %>
    </p>

</div>
<% if logged_in? %>
    <h2><%= link_to "delete", @comment, method: :delete, data: {confirm: "You sure?" }%></h2>
<% end %>
<hr>
