<p id="notice"><%= notice %></p>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.name %></td>
        <td><%= topic.posts %></td>
      </tr>
    <% end %>
  </tbody>

<br>

<%= link_to 'New Topic', new_topic_path %>
