<p id="notice"><%= notice %></p>

<h1>
  <%= @topic.name %>
</h1>
<hr>

<% if @topic.posts.any? %>
    <p>
      <%= render 'shared/feed' %>
    </p>
<% end %>

<h4><%= link_to 'Back', url_for(:back) %></h4>
