<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @topic.name %>
</p>

<% if @topic.posts.any? %>
<p>
  <strong>Post:</strong>
  <%= render @topic.posts %>
</p>
<% end %>
<p>

  <%= link_to 'Back', topics_path %>
