<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @topic.name %>
</p>

<% if @topic.posts.any? %>
<p>
  <strong>Post:</strong>
  <%= render 'shared/feed' %>
</p>
<% end %>
<p>

<h4><%= link_to 'Back', url_for(:back) %></h4>
