<% provide(:title, @topic.name.capitalize) %>

<head>
  <%= display_meta_tags %>
</head>
<h1>
  <%= @topic.name.capitalize %> Posts
</h1>
<hr>

<% if @topic.posts.any? %>
    <p>
      <%= render 'shared/feed' %>
    </p>
<% end %>

<h4><%= link_to 'Back', url_for(:back) %></h4>
