<% unless current_user?(@user) %> <%# bc you can't follow/unfollow yourself.. so unless ____ checks that you're NOT looking at yourself%>
    <div id="follow_form">
      <% if current_user.following?(@user) %>
          <%= render 'unfollow' %>
      <% else %>
          <%= render 'follow' %>
      <% end %>
    </div>
<% end %>