<% provide(:title, "Help") %>
<div class="row">
  <aside class="col-md-6">
    <section class="user_info">
      <h1>Help</h1> <br>
      <p>
        Is it me, or is the "Help" tab at the top of the screen for most application almost never helpful?
        Like honestly it's a glorified searchlight feature for the app. Yes, it does offer to take you to some online help site,
        but at that point doesn't everyone just search on google instead? What I'm saying is that the help features for
        applications and sites should really be more useful. Like why even have a "Help" tab if it doesn't provide help? It's crazy to me.
      </p>
    </section>
  </aside>
  <aside class="col-md-6">
  <section class="user_info">
    <h1>On a Serious Note...</h1> <br>
    <p>
      I've been involved with mental health organizations on-and-off over the past couple years,
      and would love to share some good resources for those that may want to talk to someone. <br>
      <a href="http://www.7cupsoftea.com" target="_blank">7 Cups of Tea</a> is a great place to start-- they have a strong community of
      people on reddit and other online forums that have substantial experience in lending a helping hand.
    </p>
  </section>
  </aside>
</div>