<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  If you tried to sign up for a new account while logged in, you were redirected to this page.
  Please click <%= link_to "My Profile", @user %>
  If you have any questions, please email Nick at nres@umich.edu or call at 248.388.1686. Thanks!
</p>


