<% provide(:title, "Help") %>
<div class="row">
  <aside class="col-md-6">
    <section class="user_info">
      <h1>Help</h1> <br>
      <p>
        Is it me, or is the "Help" tab at the top of the screen for most application almost never helpful?
        Like honestly it's a glorified searchlight feature for the app. <br> Yes, it does offer to take you to some online help site,
        but at that point doesn't everyone just search on google instead? <br> What I'm saying is that the help feature
        should really be more useful. Like why even have a "Help" tab if it doesn't provide help? It's crazy to me.
      </p>
    </section>
  </aside>
  <aside class="col-md-6">
  <section class="user_info">
    <h1>On a Serious Note...</h1> <br>
    <p>
      There's probably no meaningful help I could give for the site, so instead it may be worthwhile to include some
      mental health resources for those that want someone to talk to. <br>
      <a href="http://www.7cupsoftea.com" target="_blank">7 Cups of Tea</a> is a great place to start-- they have a strong community of
      people on reddit and other online forums that have substantial experience in lending a helping hand. Besides them, reddit offers
      <a href="https://www.reddit.com/r/depression/?" target="_blank">several support threads</a> with peer-to-peer conversations.
    </p>
  </section>
  </aside>
</div>