<% provide(:title, 'All Users') %>
<h1>Look at all your friends!</h1>

<%= will_paginate %>
<ul class="users">
      <%= render @users %> <%# It automatically looks for a partial _user.html.erb %>
</ul>
<%= will_paginate %>
