<% provide(:title, 'Sign Up or Shut Up') %>
<h1>Sign Up or Shut Up</h1>
<p id="par">Sign up to laugh, cry, and most importantly, think about life's most pressing matters.</p>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/fields', f: f %>
        <%= f.submit "Join the party bro!", class: "btn btn-primary" %>
        <% end %>
  </div>
</div>
