<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
      <h1><%= @user.name %></h1>
  </aside>
  <div class="col-md-12">
    <% if @user.posts.any? %>
        <h3>Posts (<%= @user.posts.count %>)</h3>
        <hr>
        <ol class="posts">
          <%= render 'shared/feed' %>
        </ol>
       <%# <%= will_paginate @posts %>
    <% end %>
  </div>
</div>
