<li id="post-<%= post.id %>">
  <span class="user"><%= link_to post.user.name, about_path %></span>
  <span class="content">
    <%= post.content %>
    <%= image_tag post.picture.url if post.picture? %>
  </span>
</li>
