<li id="micropost-<%= post.id %>">
  <span class="user"><%= link_to about_path, post.user %></span>
  <span class="content">
    <%= post.content %>
    <%= image_tag post.picture.url if post.picture? %>
  </span>
</li>
