<footer class="footer">
  <small>
    Most legitimate sites have a footer, so here you go
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contacts_path %></li>
      <li><a href="http://www.nyt.com"> News </a></li>
    </ul>
  </nav>
</footer>