<footer class="footer">
  <small>
    Nick is a Math and Business Dual Degree Senior at the University of Michigan, but has always been obsessed with film
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.nyt.com"> News </a></li>
    </ul>
  </nav>
</footer>