<footer class="footer">
  <small>
    Coded entirely by hand, and by hand I mean google and stack overflow
  </small>
  <nav>
    <ul>
      <li><%= link_to "Archives", posts_path %> </li>
      <li><%= link_to "Contact", contacts_path %></li>
      <li><a href="http://www.nyt.com" target="_blank"> News </a></li>
    </ul>
  </nav>
</footer>