<footer class="footer">
  <small>
    Yes, this is the RoR tutorial template. I'm working on it...
  </small>
  <nav>
    <ul>
      <li><%= link_to "Archives", posts_path %> </li>
      <li><%= link_to "Contact", contacts_path %></li>
      <li><a href="http://www.nyt.com"> News </a></li>
    </ul>
  </nav>
</footer>